
      <div class="r_thumbnail">

        <span class="r_name"><%= i[:name] %></span>

        <div class='status'>
          <% if i[:id].blank? %>
            <% if i[:open] %>
                  <span class='open'>OPEN</span>
            <% else %>
                  <span class='close'>CLOSED</span>
            <% end %>
          <% end %>
        </div>

        <hr>
        <div class="yelp_thmb">
          <%= image_tag i[:photo_url] %>
        </div>

        <div class='category'>
          <%= i[:categories] %>
        </div>

        <div class='address'>
          <a href="https://maps.google.com/?q=<%= i[:address] %>"><%= i[:address] %></a>
        </div>

        <div class='phone'>
          <a href="tel:<%= i[:phone] %>"> <%= i[:phone] %></a>
        </div>

        <div class='reviews'>
          <ul>
            <li class='review_count'>Review Count:<%= i[:review_count] %></li>
            <li class='yelp_rating'><a href='<%= i[:yelp_url] %>' class='yelp-icon'>Y</a><%= i[:yelp_rating] %></li>
            <li class='google_rating'><a href='' class='google-icon'>G</a><%= i[:google_rating] %></li>
          </ul>
        </div>

        <div class='map-star'>
          <% if i[:id].present? %>
            <a href='/delete-favorite?id=<%= i[:id] %>'>Remove <%= i[:id] %></a>
          <% else %>
            <a href="/save-favorite?i=<%= Base64.encode64(i.to_json) %>">SAVE</a>
          <% end %>
          <ul>
            <li class='star-icon'>S</li>
            <li ><a href="https://maps.google.com/?q=<%= i[:address] %>" class="map-icon">M</a></li>
          </ul>
        </div>
      </div>