<h1 id="spalsh_title">Good Food</h1>
<h2 id="splash_title">Near You</h2>

<!-- This gets the location automatically as a Geocoder object
which contains lat and long -->
<% get_geolocation %><br>
<%= @lat_auto %><br>
<%= @lng_auto %><br>
We think you are near <b><%= @street_num %> <%= @street_name %>, <%= @city_name %></b><br>
<button>Find Good Food</button>

<p>OR</p>
<!-- This form gets the Geocoder object with the address entered in the form -->
<br><br>
Not close enough? Tell us your location:

      <form id="address_search" data-ajax="false" action='/results' method='get'>
        <input name='query' placeholder='Address with City and State'/>
        <button id="submit">Find Good Food</button>
      </form>

<a id="about_link" data-ajax="false" href="/about">About</a>


