<div data-role="header" data-position="fixed">
  <div id='header-right'>
    <h1>GoodFood</h1>
    <div id='current-location'><%= @city %></div>
  </div>


  <div id='location_btn'>
    <a href="/search" data-rel="dialog" data-transition="flip"><%= image_tag('location.png') %></a>
  </div>
</div>
<!-- ~~~~~~~~~~~~Results start below~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="results">
  <% if @s == "Sorry! There's no good food there." %>
    <div class="r_thumbnail">Sorry, good food is too far away!"</div>"
  <% else %>
    <% @s.each do |i| if i[:open] ==  true %>
    <div class="r_thumbnail">

      <span class="r_name"><%= i[:name] %></span>

      <div class='status'>
        <% if i[:open] %>
              <span class='open'>OPEN</span>
        <% else %>
              <span class='close'>CLOSED</span>
        <% end %>
      </div>

      <hr>
      <div class="yelp_thmb">
        <%= image_tag i[:photo_url] %>
      </div>

      <div class='category'>
        <%= i[:categories] %>
      </div>

      <div class='address'>
        <%= i[:address] %>
      </div>

      <div class='phone'>
        <%= i[:phone] %>
      </div>

      <div class='review_count'>
        <%= i[:review_count] %>
      </div>

      <%= i[:yelp_raiting] %>
      <%= i[:google_raiting] %>
    </div>
    <% else %><% end %>
  <% end %>

  <% @s.each do |i| if i[:open] == false %>
    <div class="r_thumbnail">

      <span class="r_name"><%= i[:name] %></span>

      <div class='status'>
        <% if i[:open] %>
              <span class='open'>OPEN</span>
        <% else %>
              <span class='close'>CLOSED</span>
        <% end %>
      </div>

      <hr>
      <div class="yelp_thmb">
        <%= image_tag i[:photo_url] %>
      </div>

      <div class='category'>
        <%= i[:categories] %>
      </div>

      <div class='address'>
        <%= i[:address] %>
      </div>

      <div class='phone'>
        <%= i[:phone] %>
      </div>

      <div class='review_count'>
        <%= i[:review_count] %>
      </div>

      <%= i[:yelp_raiting] %>
      <%= i[:google_raiting] %>
    </div>
    <% else %><% end %>
  <% end %>
<% end %>

<ul id='bottom-list'>
  <% if signed_in? %>
    <li><a href="/sign_out">Sign Out</a></li>
  <% else %>
    <li><a href="/login" data-rel="dialog" data-transition="flip">Sign In</a></li>
  <% end %>
  <li id="divider"> | </li>
  <li><a href="/about" data-ajax="false">About</a></li>
</ul>
</div>